
<!-- <link rel="stylesheet" type="text/css" href="style.css">
<link href="http:////netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
 -->



<!-- <div class= "half1">
</div>
<div class="half2">
</div> -->
<div class="container">
  <div id="results">
  </div>
  <div id="countries">
    <h2>cuicui</h2>
    <h3>You've tried food from 100/200 (50%) of the world's countries. </h3>
    <table>
    <tr id="labels">
      <th>Country</th>
      <th>Tried It</th>
      <th>Haven't Tried It</th>
      <th>Not Sure</th>
    </tr>
    <tr id="US">
      <td><span class="country">United States of America</span></td>
      <td><input type="radio" name="US" value="1"></td>
      <td><input type="radio" name="US" value="2"></td>
      <td><input type="radio" name="US" value="3"></td>
    </tr>
    <tr id="MX">
      <td><span class="country">Mexico</span></td>
      <td><input type="radio" name="MX" value="1"></td>
      <td><input type="radio" name="MX" value="2"></td>
      <td><input type="radio" name="MX" value="3"></td>
    </tr>
    <tr id="CA">
      <td><span class="country">Canada</span></td>
      <td><input type="radio" name="CA" value="1"></td>
      <td><input type="radio" name="CA" value="2"></td>
      <td><input type="radio" name="CA" value="3"></td>
    </tr>
    <tr id="BD">
    <td>Bangladesh</td>
      <td><input type="radio" name="BD" value="1"></td>
      <td><input type="radio" name="BD" value="2"></td>
      <td><input type="radio" name="BD" value="3"></td>
    </tr>
    <tr id="BT">
    <td>Bhutan</td>
      <td><input type="radio" name="BT" value="1"></td>
      <td><input type="radio" name="BT" value="2"></td>
      <td><input type="radio" name="BT" value="3"></td>
    </tr>
          </table>

    Asia<br>

    <br><input type="radio" name="BN" value="1">Brunei
    <br><input type="radio" name="KH" value="1">Cambodia
    <br><input type="radio" name="CN" value="1">China
    <br><input type="radio" name="IN" value="1">India
    <br><input type="radio" name="RI" value="1">Indonesia
    <br><input type="radio" name="JP" value="1">Japan
    <br><input type="radio" name="KZ" value="1">Kazakhstan
    <br><input type="radio" name="KP" value="1">North Korea
    <br><input type="radio" name="KR" value="1">South Korea
    <br><input type="radio" name="KG" value="1">Kyrgyzstan
    <br><input type="radio" name="LA" value="1">Laos
    <br><input type="radio" name="MY" value="1">Malaysia
    <br><input type="radio" name="MV" value="1">Maldives
    <br><input type="radio" name="MN" value="1">Mongolia
    <br><input type="radio" name="MM" value="1">Myanmar
    <br><input type="radio" name="NP" value="1">Nepal
    <br><input type="radio" name="PH" value="1">Philippines
    <br><input type="radio" name="SG" value="1">Singapore
    <br><input type="radio" name="LK" value="1">Sri Lanka
    <br><input type="radio" name="TW" value="1">Taiwan
    <br><input type="radio" name="TJ" value="1">Tajikistan
    <br><input type="radio" name="TH" value="1">Thailand
    <br><input type="radio" name="TM" value="1">Turkmenistan
    <br><input type="radio" name="UZ" value="1">Uzbekistan
    <br><input type="radio" name="VN" value="1">Vietnam
    </div>
    <div class="main">
      <div id="worldmap"></div>
    </div>
</div>


  <script>
  (function() {

      var oneColor = {'US': 'green', 'MX':'red', 'CA':'blue'};
      map = new jvm.WorldMap({
          map: 'world_mill_en',
          container: $('#worldmap'),
          backgroundColor: '#FEE987',
          series: {
              regions: [{
                  attribute: 'fill'}]
          }
      });
      

      map.series.regions[0].setValues(oneColor);
      function setColor(countryCode,color){
            var country = {};
          country[countryCode] = color;
          map.series.regions[0].setValues(country);
    

      }
        
      
      $('input:radio').on("click", function(){
        var radioSelection = $(this);
        var checkedOption = radioSelection.filter(':checked').val();
        var countryID = radioSelection.parent().parent().attr('id');
        console.log("The value of the checked selection is: " + checkedOption);
        console.log(checkedOption === "1");
        if(checkedOption === "1"){
          console.log("You've sampled food from" + countryID);
          setColor(countryID,'yellow');
        }
         else if(checkedOption === "2"){
          console.log("You haven't sampled food from" + countryID);
          setColor(countryID,'red');
        }
         else{
          console.log("You're not sure if you've sampled food from" + countryID);
          setColor(countryID,'gray');
        }


     
          // var countryCode = $(this).attr("id");
          // if ($(this).hasClass("unselected")){
          //     $(this).addClass("selected");
          //     $(this).removeClass("unselected");
          //     $('body').append("Selected--Yellow"); 
          //     setColor(countryCode,'yellow');
          // }
          // else
          // {
          //     $(this).addClass("unselected");
          //     $(this).removeClass("selected");
          //     $('body').append("Unselected -- Gray"); 
          //     setColor(countryCode,'gray');
          // }
    
      });
      
  })();
  </script>



<!-- <h1>Listing queries</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @queries.each do |query| %>
  <tr>
    <td><%= link_to 'Show', query %></td>
    <td><%= link_to 'Edit', edit_query_path(query) %></td>
    <td><%= link_to 'Destroy', query, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Query', new_query_path %> -->
