/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body {
	text-align: center;
	background-color: #FEE987;
}

img {
	width: 55%;
	height: 55%;
}

#worldmap{
	border: #FEE987 3px solid;
	display: inline-block;
	height: 400px;
	width: 500px;
	float: right;
	}
#countries{
	text-align: center;
	width: 25%;
	display:inline-block;
}
.main{
	width: 60%;
	display:inline-block;
	vertical-align: top;

}

.result{
	display:inline-block;
	width:250px;
	height:300px;
	padding-top:10px;
	vertical-align:top;
	margin-right: 45px;
	background-color: white;
	border: 1px gray solid;

}

h3{
	padding:0px;
	margin:0px;
}
#results{
	color: gray;
}

.yelp{
	border:black 1px solid;
	height:100px;
	width:100px;
}

.container{
	width: 100%;
	height: 100%;
	padding-top: 0px;
	margin-top: 0px;
}

table{
	text-align: left;
}

.search{
	vertical-align: bottom;
}

