@import url(http://fonts.googleapis.com/css?family=Montserrat);

body {
	text-align: center;
	background-color: #FEE987;
	color: 'brown';
	font-family: 'Verdana';
}

h1, h2, h3, h4{
	color: white;
	font-family: 'Montserrat';
}

h2{
	font-size: 60px;
}

.half{
	width:200px;
	float:left;
}