<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<link href="http:////netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body>
<h1>Welcome to CuisCuis!</h1>
<img src = "app/assets/images/worldmap.svg">
<h2>What kind of cuisine would you like to try today?</h2>
<input type="text" name="cuisine">
<input type="submit" value="Search!" id="target">
<h3>The results for your search are:</h3>

</body>
</html>